##########################################################################
# LDAP access configuration
##########################################################################

[ldap]

# LDAP server connection details
server_uri = ldap://ldap.example.com

# The base DN for the search
base_dn = ou=People,dc=example,dc=com

# User to bind to the directory as. Leave empty for anonymous binding.
bind_username =
bind_password =

# Use TLS? If the URI scheme is ldaps://, this is ignored.
use_starttls = false

# Search scope for users (one of SCOPE_BASE, SCOPE_ONELEVEL, SCOPE_SUBORDINATE,
# SCOPE_SUBTREE)
search_scope = SCOPE_ONELEVEL

# Filter string for the user search. For OpenLDAP, '(cn=*)' may well be enough.
# For AD, you might use '(&(objectCategory=person)(objectClass=user))'
filter_string = (cn=*)

# The LDAP attribute containing user names. In OpenLDAP, this may be 'uid'
# whilst in AD, 'sAMAccountName' might be appropriate.
username_attribute = uid

# A command delimited list of users to ignore
ignore_users = Manager,ldap.sync


##########################################################################
# Postgres access configuration
##########################################################################

[postgres]

# Postgres server connection string
server_connstr = hostaddr=127.0.0.1 port=5432 dbname=postgres user=postgres

# A comma delimited list of login role names to ignore
ignore_login_roles = postgres

##########################################################################
# General configuration
##########################################################################

[general]

# Add LDAP users to Postgres if they don't exist, or ignore them?
add_ldap_users_to_postgres = true

# Remove Postgres login roles if they don't exist in LDAP, or ignore them?
remove_login_roles_from_postgres = true

# Attributes to grant to login roles in Postgres. Note these attributes
# are only applied to roles when created. Existing roles are unaffected.
role_attribute_superuser = false
role_attribute_createdb = false
role_attribute_createrole = false
role_attribute_noinherit = false
role_attribute_bypassrls = false

# Role connection limit attribute. Set to -1 to ignore, or an integer.
# Note this attribute is only applied to roles when created. Existing
# roles are unaffected.
role_attribute_connection_limit = -1




